server:
  port: ${SERVER_PORT}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        debug: ${MAIL_DEBUG}
        smtp:
          auth: true
          starttls:
            enable: true
          from: ${MAIL_FROM:${MAIL_USERNAME}}
          ssl:
            trust: ${MAIL_SSL_TRUST:${MAIL_HOST}}

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /v3/api-docs

jwt:
  secret: ${JWT_SECRET}

app:
  verification:
    base-url: ${VERIFICATION_BASE_URL}
